body{
    margin:0px;
    background-image: url(img/images4.jpeg);
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 200px;
}
.title { font-size: large;
    color:gold; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold ;
    text-align: center;
   
    
}
p { font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 5%; 
    padding-right: 5%;
    color: white !important
}
.adress {
    text-align: center;
    font: italic 11px;
    font-size: medium;
    color: black;s   
    margin-top: 100px;
}
img { display: block; 
    width: 80px;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
    
}

h2,h3,h4 {
    padding-bottom: 20px;
    color: gold;
}

  
  .main-title {
    text-align: center;
    font-style: cursive;
    font-size: 100px;
    color:gold;
    margin-bottom: 0px ;
  }
  a {
    color: black;
  }
  
  a:visited {
    color: gold;
  }
  
  a:hover {
    color: blue; 
  }
  
  a:active {
    color: red;
  }
  div{
    display: inline-block;
    background-color: rgb(24, 60, 24) !important;
    margin-left: 20%;
    margin-right: 20%;
    border-left: 2px solid; 
    border-right: 2px solid; 
    border-top: 2px solid; 
    border-bottom: 2px solid; 
    border-color:gold !important;
    padding: top 20px;px
    max-width: 600px;
min-width: 260px
   
    
  }